<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/cache" xmlns:spring="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache https://www.springframework.org/schema/cache/spring-cache.xsd http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <bean id="poolingDataSource" class="bitronix.tm.resource.jdbc.PoolingDataSource"
          init-method="init" destroy-method="close">
        <property name="className" value="com.mysql.jdbc.Driver"/>
        <property name="uniqueName" value="database"/>
        <property name="minPoolSize" value="1"/>
        <property name="maxPoolSize" value="5"/>
        <property name="allowLocalTransactions" value="true"/>

        <property name="twoPcOrderingPosition" value="1"/>
        <property name="applyTransactionTimeout" value="true"/>
        <property name="isolationLevel" value="READ_COMMITED"/>
        <property name="driverProperties">
            <props>
                <prop key="url">jdbc:mysql://localhost:3306/xml_test</prop>
                <prop key="user">root</prop>
                <prop key="password">1234</prop>
            </props>
        </property>


    </bean>

    <bean id="jmsXaConnectionFactory" class="org.apache.activemq.ActiveMQXAConnectionFactory">
        <property name="brokerURL" value="tcp;//localhost:61616"/>
        <property name="redeliveryPolicy">
            <bean class="org.apache.activemq.RedeliveryPolicy">
                <property name="maximumRedeliveries" value="1"/>
            </bean>
        </property>
    </bean>


    <bean id="btTransactionManager" class="bitronix.tm.TransactionManagerServices"
          factory-method="getTransactionManager" depends-on="btmConfig" destroy-method="shutdown"/>

    <bean id="btmConfig" class="bitronix.tm.TransactionManagerServices" factory-method="getConfiguration">

    </bean>

    <bean id="jtaManager" class="org.springframework.transaction.jta.JtaTransactionManager">
        <property name="transactionManager" ref="btTransactionManager"/>
        <property name="userTransaction" ref="btTransactionManager"/>
    </bean>

    <bean id="transactionalPolicy" class="org.apache.camel.spring.spi.SpringTransactionPolicy">
        <property name="transactionManager" ref="jtaManager"/>
        <property name="propagationBehaviorName" value="PROPAGATION_REQUIRED"/>
    </bean>

    <bean id="activemqXA" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="configuration" ref="jmsConfigurationXa"/>
    </bean>

    <bean id="activemqXAConnectionFactory" class="bitronix.tm.resource.jms.PoolingConnectionFactory"
          depends-on="jtaManager">
        <property name="className" value="org.apache.activemq.ActiveMQXAConnectionFactory"/>
        <property name="uniqueName" value="activemqUnique"/>
        <property name="MaxPoolSize" value="2"/>
        <property name="allowLocalTransactions" value="true"/>
        <property name="driverProperties">
            <props>
                <prop key="brokerURL">tcp://localhost:61616</prop>
                <prop key="redeliveryPolicy.redeliveryDelay">1000</prop>
                <prop key="redeliveryPolicy.maximumRedeliveries">-1</prop>
            </props>
        </property>
    </bean>

    <bean id="jmsConfigurationXa" class="org.apache.camel.component.jms.JmsConfiguration">
        <property name="connectionFactory" ref="activemqXAConnectionFactory"/>
        <property name="transactionManager" ref="jtaManager"/>
        <property name="transacted" value="true"/>
    </bean>

    <spring:camelContext>
        <spring:route errorHandlerRef="errorHandler">
            <spring:from uri="file"/>
            <spring:process ref="processor"/>
            <spring:choice>
                <spring:when>
                    <spring:simple>${file:ext}=='txt'</spring:simple>
                    <spring:convertBodyTo type="String"/>
                    <spring:to uri="direct:db"/>
                </spring:when>
                <spring:when>
                    <spring:simple>${file:ext}=='xml'</spring:simple>
                    <spring:convertBodyTo type="String"/>
                    <spring:to uri="jms:queue:xml_queue"/>
                </spring:when>
            </spring:choice>
        </spring:route>
        <spring:route>
            <spring:from uri="direct:db"/>
            <spring:process ref="txtFileProcessor"/>
            <spring:to uri="jms:queue:txt_queue"/>
        </spring:route>
    </spring:camelContext>
    <spring:errorHandler id="errorHandler" type="DeadLetterChannel" deadLetterUri="jms:queue:invalid_queue"/>

    <bean id="txtFileProcessor" class="TxtFileProcessor" depends-on="poolingDataSource">
        <property name="poolingDataSource" ref="poolingDataSource"/>
    </bean>

    <bean id="processor" class="CounterProcessor"/>

</beans>